extends layout

block content
  .sidebar-container
    .files
      each file in files
        .file= file

    button(id='newFile') New File
    button(id='deleteFilfe') Delete File

  .show-file-name
    h3 header that shows file name
    button(id='saveFile') Save File
  .view-container
    .markdown-view
        h3 Markdown
        textarea(id='input')
        button(id='submit') Submit
    .preview-view
      h3 Preview
