doctype html
html
  head
    title= title
    meta9charset='utf-8')
    link(rel='stylesheet', href='/public/stylesheets/style.css')
  body
    .sidebar-container
      |links go here
    .show-file-name
      | header that shows file name
    .view-container
      .markdown-view
        |a markdown header
        |view area
      .preview-view
        | A preview title bar
        |a view area

  block content
