doctype html
html
  head
    title= title
    meta(charset='utf-8')
    link(rel='stylesheet', href='/stylesheets/style.css',)
    script(src="javascripts/main.js")
  body
    .sidebar-container
      button(id='newFile') Create New File

    block content
